{{ partial "header.html" . }}
<main class='contact'>
  <div class='post-background'>
    <div class='post-gradient'></div>
    {{ partial "simple-nav.html" . }}

  </div>

  <article class="article">

    <section class="post__info">

      <h1 class="post__title">{{ .Title }}</h1>

    </section>

    <section class="post__content">
      {{ .Content }}
    </section>

    <div class='contact-form'>
    <form action="https://formspree.io/your@email.com" method="POST">
      <div class='contact-form-wrap'>
        <input class="contact-name" type="text" name="name" required="required" placeholder="Your Name"><br>
        <input class="contact-email" type="email" name="_replyto" required="required" placeholder="Your Email Address"><br>
        <textarea rows="4" name="message" id="message" required="required" class="form-control" placeholder="Your Message"></textarea>
        <input type="submit" value="Send" name="submit" class="contact-btn btn-primary btn-outline">
      </div>
      <input type="hidden" name="_next" value="/html/thanks.html" />

      <input type="hidden" name="_subject" value="Website message" />
      <input type="text" name="_gotcha" style="display:none" />
    </form>


</main>
<footer class='footer__single'>
  {{ partial "footer.html" . }}
</footer>
