<section class="intro">
  <div class='intro-container'>

    <img class='introImage' src='images/introImage-light.png'>

    <div class="intro-content">

      <div class="intro-welcome">
        <h1 class='name'>Amber Thomas</h1>
      </div>

      <div class="intro-sub">
        <p>I'm a data lover, storyteller, and pro question asker. Making complex things more accessible is my jam.</p>
      </div>

      <div class="intro-more">
        <strong><p>Currently Community Lead at <a href='https://data.world'>data.world</a></p></strong>
        <p>Previously: Senior Journalist-Engineer at <a href='https://pudding.cool/author/amber-thomas'>The Pudding</a></p>
        <div class="intro-buttons">
          {{ partial "social-icons.html" .}}
        </div>
      </div>

      <div class='intro-social'>

      </div>

    </div>

  </div>
</section>
