<section class="intro">
  <div class='intro-container'>

    <img class='introImage' src='images/introImage-light.svg'>

    <div class="intro-content">

      <div class="intro-welcome">
        <h1 class='name'>Amber Thomas</h1>
      </div>

      <div class="intro-sub">
        <p>I'm a data-lover, story-teller, and pro question asker. Fun things on the internet are my jam.</p>
      </div>

      <div class="intro-more">
        <p>Journalist-Engineer at <a href='https://pudding.cool'>The Pudding</a></p>
        <div class="intro-buttons">
          {{ partial "social-icons.html" .}}
        </div>
      </div>

      <div class='intro-social'>

      </div>

    </div>

  </div>
</section>
